// _variables.scss

// Cores principais
$color-purple-dark: #2f205e;
$color-purple-main: #583f92;
$color-purple-light: #6e53b0;

// Cores de destaque
$color-highlight-lime: #bef203;

// Cores neutras
$color-white: #ffffff;
$color-text-dark: #333333;
$color-text-light: #999999;
$color-background-gray: #f0f0f0;

// Cores de status
$color-error: #d62828;
