// _variables.scss

// Cores principais
$color-purple-dark: #2f205e;
$color-purple-main: #583f92;
$color-purple-light: #6e53b0;

// Cores de destaque
$color-highlight-lime: #bef203;

// Cores neutras
$color-white: #ffffff;
$color-text-dark: #333333;
$color-text-light: #999999;
$color-background-gray: #f0f0f0;

// Cores de status
$color-error: #d62828;

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid $color-purple-dark;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
